$color-primary: #fff;
$color-main: #00be6e;
$color-minor: #00be6e;
$color-footer-bg: #333;
$color-header-bg: #fff;

// stander
$font-size-normal: 18px;
$container-width: 1200px;
$standar-width: 1200px;
$snav-width: 1280px;
// header
$header-height: 60px;
$header-line-height: $header-height;
$header-container-width: $container-width;
// footer
$footer-height: 90px;
$footer-container-width: $container-width;